{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% include "includes/head_meta_tags.html" %}

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/main.css" %}">

  <title>Calorietracker</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
  <link rel="apple-touch-icon" type="image/png" href="{% static 'favicon/apple-touch-icon.png' %}">

  {% include "includes/analytics.html" %}


  <!-- DatetimePicker -->
  {% comment %} <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/> {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- DataTables -->
  <link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet" type="text/css">
  <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>



  <script src="{% static "js/get_cookie.js" %}"></script>
  <script src="{% static "js/notifications.js" %}"></script>

  <!-- Turbolinks for more dynamic page loads -->
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" integrity="sha512-G3jAqT2eM4MMkLMyQR5YBhvN5/Da3IG6kqgYqU9zlIH4+2a+GuMdLb5Kpxy6ItMdCfgaKlo2XFhI0dHtMJjoRw==" crossorigin="anonymous"></script> {% endcomment %}

  {% block extrahead %}
  {% endblock %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    {% include "includes/sidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% include "includes/topbar.html" %}
        {% include "includes/announcements.html" %}

        {% include "includes/flash_messages.html" %}

        {% block content %}
        {% endblock %}


    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-gray">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; CalorieTracker.io 2020 All Rights Reserved.</span></br>
          <div class="my-1"></div>
          <span><a href="{% url 'privacy-policy' %}" style="text-decoration: none;color: #000;font-size:10px">Privacy Policy <a></span></br>
          <span><a href="{% url 'terms-and-conditions' %}" style="text-decoration: none;color: #000;font-size:10px">Terms and Conditions <a></span>
          <div class="my-3"></div>
          <span class="text-muted">BTC:&nbsp;&nbsp;<b>bc1q02p75kx3rqsdmuvnfdgqery9036qvggrcwdjnh</b></span>
          <div class="my-1"></div>
          <span class="text-muted">BCH:&nbsp;&nbsp;<b>bitcoincash:qrlgyuwt8myx9xz0d3je4gfgezy9xkj4sqf76rqtm0</b></span>
          <div class="my-1"></div>
          <span class="text-muted m-4">ETH:&nbsp;&nbsp;<b>0x2231CE7FE3135d78c0624B3700462e9A3c7048e1</b></span>

        </div>
      </div>
    </footer>
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  {% comment %} <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a> {% endcomment %}

  {% include "includes/logout_modal.html" %}

  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>

  <!-- Tooltips -->
  <script>
  $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  });
  </script>


  <!-- Buy Me a Coffee -->
  <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="calorietracker" data-description="Support calorietracker.io with a coffee!" data-message="Thank you for visiting! Want to support further development?" data-color="#79D6B5" data-position="right" data-x_margin="18" data-y_margin="18"></script>

</body>

</html>
