{% extends "extends/base.html" %}
{% load static %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Analytics (Last {{ n }} days)</h1>

   <form action="" method="get">
    <select name = "rangeDrop" class="form-control" onchange="this.form.submit()">
      <option value="" disabled selected>Date Range</option>
      <option value="7">Last 7 Days</option>
      <option value="14">Last 14 Days</option>
      <option value="31">Last 31 Days</option>
      <option value="100">All Time</option>
    </select>
  </form>

  </div>




  <!-- Content Row -->
  <div class="row">

    <!-- Weight Change Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Weight Change</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ weight_change_smooth }} {{units_weight}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-chart-line fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Estimated TDEE) Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Estimated TDEE</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ TDEE }} Calories / day</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-fire fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Estimated Time to Goal Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Estimated Time to {{ goal_weight}}</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ current_time_to_goal }} days</div>
                </div>
                  <!--<div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clock fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Rate of Weight Loss Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Current Rate of Weight Change</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ weekly_weight_change }} {{units_weight}} / week</div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ daily_weight_change }} {{units_weight}} / day</div> -->
            </div>
            <div class="col-auto">
              <i class="fas fa-weight fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Weight Over Time Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Weight Over Time</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="weightChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Goal Summary Card -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <h6 class="m-3 font-weight">Your current weight is <b>{{current_weight}} {{units_weight}} </b></h6>
          <h6 class="m-3 font-weight">Your goal is <b>{{goal_weight}} {{units_weight}}</b> by <b>{{goal_date}}</b></h6>

          <h6 class="m-3 font-weight">Based on your estimated TDEE, you should consume <strong>{{target_cal_in_per_day}} calories / day</strong> for  <br> <b>{{ target_deficit_per_week }} {{units_weight}} / week</b> of weekly weight change</b></h6>

          <!-- Card Body
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Direct
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Social
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Referral
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Logs -->
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Log Entries</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Weight</th>
                  <th>Calories In</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /.container-fluid -->

<!-- Page level plugins -->
<script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>

<!-- Page level custom scripts -->
<script src="{% static "js/demo/chart-pie-demo.js" %}"></script>


<!-- Page level global data and charts -->
<script>
var timestamps = {{data_date | safe}}
var weights = {{data_weight}}

var json = {{json_data | safe}}

$(".dropdown-menu li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});


$(document).ready(function() {
  $('#dataTable').DataTable( {
    "data": json.data,
    "columns": [
    { "data": "date" },
    { "data": "weight" },
    { "data": "calories_in" },
  ],
  });
})

$('#dataTable').on('click', 'tbody > tr > td', function (e) {
    // 'this' refers to the current <td>, if you need information out of it
    e.preventDefault();
    var table = $('#dataTable').DataTable();
    var data = table.row($(this).closest('tr')).data();
    console.log(data);
    // TODO: href to updateview of logdata

  });


</script>

<script src="{% static "js/line-chart-weights.js" %}"></script>


{% endblock %}
