{% extends "extends/base.html" %}
{% load static %}
{% load friendshiptags %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Friends</h1>
  </div>

    <!-- Content Row -->
  <div class="row">

    <!-- Friends Main Card-->
    <div class="col-xl-7 col-lg-7">
      <div class="card w-100 shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header">
          <div class="nav">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="all-friends-tab" data-toggle="tab" href="#allfriends" role="tab" aria-controls="home" aria-selected="true">All Friends</a>
              </li>

              {% comment %}
              <li class="nav-item">
                  <a class="nav-link" id="followers-friends-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="following-friends-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">Following</a>
              </li>
              {% endcomment %}

              <li class="nav-item">
                  <a class="nav-link" id="pending-friends-tab" data-toggle="tab" href="#pendingfriends" role="tab" aria-controls="pendingfriends" aria-selected="false">Pending</a>
              </li>

              <li class="nav-item">
                  <a class="" id="search-friends-tab" data-toggle="tab" href="#searchusers" role="tab" aria-controls="searchusers" aria-selected="false"></a>
              </li>
              
              <!-- <li class="nav-item">
                  <a class="nav-link" id="blocked-friends-tab" data-toggle="tab" href="#blockedfriends" role="tab" aria-controls="blockedfriends" aria-selected="false">Blocked</a>
              </li>

            </ul>
            <ul class="nav nav-tabs card-header-tabs ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-75 navbar-search">
                    <div class="input-group">
                      <input id="searchbarSm" type="text" oninput="updateLiveSearchSm();" class="form-control bg-light border-0 small" placeholder="Add..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="updateLiveSearchSm();">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <li class="nav-item">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-75 navbar-search">
                  <div class="input-group">
                    <input id="searchbarLg" type="text" oninput="updateLiveSearchLg();" class="form-control bg-light border-0" style="width:150px;" placeholder="Add Friends..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" onclick="updateLiveSearchLg();">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="allfriends" role="tabpanel" aria-labelledby="all-friends-tab">

              {% for friend in all_friends %}
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="font-weight-bold">
                    <div class="mb-2 mt-2">{{ friend }} <text class="small text-gray-500">(Friend)</text></div>
                  </div>
                </a>

                <!-- Reject Friend -->
                <form class="float-right" action="{% url 'removefriend' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" id="id_from_user" name="from_user" value="{{ friend.id }}">
                  <button class="btn btn-danger" type="submit" name="button">Remove</button>
                </form>
              {% endfor %}

            </div>
            {% comment %}

            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-friends-tab">...</div>
            <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-friends-tab">...</div>
            {% endcomment %}

            <div class="tab-pane fade" id="pendingfriends" role="tabpanel" aria-labelledby="pending-friends-tab">

              {% for friend_request in unrejected_friend_requests %}
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="font-weight-bold">
                    <div class="mb-2 mt-2">{{ friend_request.from_user }}
                      <text class="small text-gray-500">
                      </text>
                    </div>
                  </div>
                </a>

                <!-- Accept Friend -->
                <form class="float-right" action="{% url 'acceptfriend' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" id="id_from_user" name="from_user" value="{{ friend_request.from_user.id }}">
                  <button class="btn btn-success" type="submit" name="button">Accept</button>
                </form>

                <!-- Reject Friend -->
                <form class="float-right" action="{% url 'rejectfriend' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" id="id_from_user" name="from_user" value="{{ friend_request.from_user.id }}">
                  <button class="btn btn-danger" type="submit" name="button">Reject</button>
                </form>

              {% endfor %}

            </div>
            <div class="tab-pane fade" id="blockedfriends" role="tabpanel" aria-labelledby="blocked-friends-tab">
            </div>
            <div class="tab-pane fade" id="searchusers" role="tabpanel" area-labelledby="search-users-tab">
              <!-- User Livesearch List Results -->
              <div id="ErrorText">Search for a user</div>
              <ul id='search-results'>  
                <li class="dropdown-item d-flex align-items-center" href="#"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>

<script>

// Live Search Users for Adding Friends

// async fetch json 
async function fetchUsers(apiURL) {
  console.log(apiURL)
  const response = await fetch(apiURL)
  return response.json()
}

// Update the list of users displayed
function updateLiveSearch(searchQuery) {
  if (searchQuery) {
    // Make Request to DRF api search endpoint asynchronously
    let url = 'https://jsonplaceholder.typicode.com/users?username='+searchQuery
    let searchResults = fetchUsers(url)

    // todo filter searchResults for usernames that are not already in all_friends

    searchResults.then(function(result) {
      if (result.length) { // if there are results...
        document.getElementById('ErrorText').innerHTML = ''; // remove any previous error text
        document.getElementById('search-results').innerHTML = ''; // reset search-results.innerHTML

        for (index = 0; index < result.length; index++) { // iteratively add result.username and form button to add user as friend
            // console.log(result[index]);
            document.getElementById('search-results').innerHTML += ('<li class="dropdown-item d-flex align-items-center" href="#"> '+result[index].username+'  </li> <form class="float-right" action="{% url 'home' %}" method="POST"> {% csrf_token %} <button class="btn btn-sm btn-success" type="submit" name="button">Add Friend</button> </form>'); 
        }    

      } else { // if there are no results...
        document.getElementById('ErrorText').innerHTML = ('No users found matching: ' + searchQuery);
      }
    }) 
  } else {
    document.getElementById('ErrorText').innerHTML = ('Search for a username above')
  }
}

// Input change small search bar or Small button click triggers this
function updateLiveSearchSm() {
  displaySearchNavTab()
  var searchQuery = document.getElementById("searchbarSm").value
  updateLiveSearch(searchQuery)
}

// Input change large search bar or Large button click triggers this
function updateLiveSearchLg() {
  displaySearchNavTab()
  var searchQuery = document.getElementById("searchbarLg").value
  updateLiveSearch(searchQuery)  
}

// Display search nav tab
function displaySearchNavTab() {
  $('.nav-tabs a[href="#searchusers"]').tab('show')
}

</script>

{% endblock %}
