{% extends "extends/base.html" %}
{% load static %}
{% load friendshiptags %}



{% block content %}

<!-- dev vue version -->
<script src="https://unpkg.com/vue@next"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Contacts</h1>
  </div>

  <div class="row">
    <!-- contacts sidebar -->
    <div class="col-2">
      <div class="row">
        <a class="col" href="#">Friends</a>
      </div>
      <div class="row">
        <a class="col" href="#">Coaches</a>
      </div>
      <div class="row">
        <a class="col" href="#">Docs</a>
      </div>

    </div>

    <div class="col-10">

      <!-- topbar -->
      <div class="row">
        <h5 class="mx-2" ><i class="fas fa-edit"></i>Friends</h5>
        <!-- <button v-on:click="all_friends" type="button" class="btn btn-primary mx-2">All</button>
        <button v-on:click="pending_friends" type="button" class="btn btn-primary mx-2">Pending</button> -->
        <a class="mx-2" href="#">All</a>
        <a class="mx-2" href="#">Pending</a>
        <a class="mx-2" href="#">Blocked</a>
        <a class="mx-2" href="#">Add Friend</a>

        <!-- <button v-on:click="doThis">VUECLICK TEST</button>

        <button @click="increment">Up vote</button> -->

      </div>

      <!-- content -->
      <div class="row">

        <div class="mx-auto" id="app">

          <div class="friends-div">

            <div v-show="show_all_friends" class="all-friends">

              <h5>all friends</h5>
              {% friends request.user %}

            </div>

            <div v-if="show_pending_friends === true" class="blocked-friends">
              <h5>pending friends</h5>
              {% friend_requests request.user %}

            </div>

            <div v-show="show_blocked_friends" class="blocked-friends">
              <h5>blocked friends</h5>
              {% blocking request.user %}
            </div>

            <div v-show="show_pending_friends" class="add-friend">
              <h5>add friends</h5>

            </div>

          </div>
        </div>

      </div>

    </div>


  </div>


</div>
<!-- /.container-fluid -->


<!-- Page level custom scripts -->
<script type="text/javascript">

  const app = {
    delimiters: ['[[', ']]'],
    // methods: {
    //
    // },
    data() {
      return {
        show_all_friends: true,
        show_pending_friends: false,
        show_blocked_friends:false,
        count: 4,
      }
    },
    methods: {


      doThis (event) {
        this.console.log("VUE CLICK TEST")
        console.log("VUE CLICK TEST")

      },
      all_friends() {
        this.console.log("All friends fired")
        this.show_all_friends=true;
        this.show_pending_friends=false;
        this.show_blocked_friends=false;
      },
      pending_friends() {
        this.console.log("Pending friends fired")
        // `this` will refer to the component instance
        this.show_all_friends=false;
        this.show_pending_friends=true;
        this.show_blocked_friends=false;
      },
  }
}

Vue.createApp(app).mount('#app')
</script>


{% endblock %}
