{% extends "extends/base.html" %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Import Logs from {{integration_name}}</h1>
  </div>

  <div class="card w-100">
    <div class="card-body">
      <form id="MFPForm" style="display:;" class="form" method="post">{% csrf_token %}
        <div >
          <div class="control-group">
            <label class="control-label">{{ form.mfp_start_date.label }} </label>
            <div class="controls" style="width:100%">{{ form.mfp_start_date }}
              {% if form.mfp_start_date.help_text %}
              <span class="help-inline"><small>{{ form.mfp_start_date.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.mfp_end_date.label }} </label>
            <div class="controls" style="width:100%">{{ form.mfp_end_date }}
              {% if form.mfp_end_date.help_text %}
              <span class="help-inline"><small>{{ form.mfp_end_date.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.mfp_data_select.label }} </label>
            <div class="controls" style="width:100%">{{ form.mfp_data_select }}
              {% if form.mfp_data_select.help_text %}
              <span class="help-inline"><small>{{ form.mfp_calories_in.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.mfp_overwrite.label }} </label>
            <div class="controls" style="width:100%">{{ form.mfp_overwrite }}
              {% if form.mfp_overwrite.help_text %}
              <span class="help-inline"><small>{{ form.mfp_overwrite.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
        </div>

        <div class="my-2"></div>
        <button id="submitButton" type="submit" class="btn btn-primary btn-icon-split btn-sm">
          <span class="icon text-white-50">
            <i class="fas fa-check"></i>
            </span>
          <span class="text">Import Logs</span>
        </button>
        <button type="reset" class="btn btn-danger btn-icon-split btn-sm">
        <span class="icon text-white-50">
              <i class="fas fa-trash"></i>
            </span>
            <span class="text">Clear</span>            
        </button>
        <a type="button" href="{% url 'import-credentials-mfp' %}" class="btn btn-info btn-icon-split btn-sm">
          <span class="icon text-white-50">
            <i class="fas fa-cogs"></i>
            </span>
          <span class="text">Edit MFP Settings</span>
        </a>
      </form>
    </div>
  </div>

  {% comment %} {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p> {{ error }} </p>
        {% endfor %}
    {% endif %} {% endcomment %}

</div>
<!-- /.container-fluid -->


<!-- Page level custom scripts -->
<script>



</script>
{% endblock %}