{% extends "extends/base_simple.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<body class="bg-gradient-primary">
  <!-- <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=2442088766092949&autoLogAppEvents=1"
    nonce="v9Uxgbz8"></script> -->

  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5" style="text-align: center">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user" method="post">

                    {% csrf_token %}

                    {% if form.errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="form-group">
                      {{ form.username}}
                      {% if form.username.errors %}
                      <div class="">
                        <strong class="text-danger pl-3">{{ form.username.errors.as_ul }}</strong>
                      </div>
                      {% endif %}
                    </div>

                    <div class="form-group">
                      {{ form.password}}
                      {% if form.password.errors %}
                      <div class="">
                        <strong class="text-danger pl-3">{{ form.password.errors.as_ul }}</strong>
                      </div>
                      {% endif %}
                    </div>

                    <!-- Remember Me -->
                    <!-- <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div> -->


                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                    <hr>

                    <a href="{% provider_login_url "discord" %}" class="btn btn-discord btn-icon-split shadow my-2"
                      style="display: inline-block">
                      <span class="icon text-white-50">
                        <i class="fab fa-discord"></i>
                      </span>
                      <span class="text" style="font-size: 90%">Login with Discord</span>
                    </a>

                    <a href="{% provider_login_url "facebook" method="js_sdk" %}"
                      class="btn btn-facebook btn-icon-split shadow my-2" style="display: inline-block">
                      <span class="icon text-white-50">
                        <i class="fab fa-facebook"></i>
                      </span>
                      <span class="text" style="font-size: 90%">Login with Facebook</span>
                      <!-- <i class="fab fa-facebook-f fa-fw"></i> -->
                    </a>

                    <div class="my-2"></div>
                    <a href="{% provider_login_url "google" %}">
                      <img src="{% static 'img/btn_google_signin_light_normal_web.png' %}"></img>
                    </a>

                    <!-- Old google button
                    <a href="{% provider_login_url "google" %}" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i>&nbsp;Login with Google
                    </a> -->

                    <!-- Official fb button
                    <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="default"
                      data-auto-logout-link="false" data-use-continue-as="false" data-width="">
                    </div> -->

                  </form>
                  <hr>
                  <!-- TODO: Forgot PW -->
                  <!-- <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div> -->

                  <div class="text-center">
                    <a class="small" href="{% url 'register' %}">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% providers_media_js %}
{% endblock %}