{% extends "extends/base_simple.html" %}
{% load static %}

{% block content %}

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>

              <form class="user" method="post">
                {% csrf_token %}

                {% if form.errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                <div class="form-group">
                  {{ form.username}}
                  {% if form.username.errors %}
                  <div class="">
                    <strong class="text-danger pl-3">{{ form.username.errors.as_ul }}</strong>
                  </div>
                  {% endif %}
                </div>

                <div class="form-group">
                  {{ form.email}}
                  {% if form.email.errors %}
                  <div class="">
                    <strong class="text-danger pl-3">{{ form.email.errors.as_ul }}</strong>
                  </div>
                  {% endif %}

                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    {{ form.password1}}
                    {% if form.password1.errors %}
                    <div class="">
                      <strong class="text-danger pl-3">{{ form.password1.errors.as_ul }}</strong>
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-sm-6">


                    {{ form.password2}}
                    {% if form.password2.errors %}
                    <div class="">
                      <strong class="text-danger pl-3">{{ form.password2.errors.as_ul }}</strong>
                    </div>
                    {% endif %}
                  </div>

                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>

                <!-- Social Logins -->
                <!-- <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a> -->

              </form>

              <hr>
              <!-- TODO: forgot password functionality -->
              <!-- <div class="text-center">
                <a class="small" href="/">Forgot Password?</a>
              </div> -->

              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}