{% extends "extends/base.html" %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Log Entry</h1>
  </div>

<div class="card w-100">
    <div class="card-body">
      <form class="form" id = "updateForm" method="post">{% csrf_token %}
        <div class="control-group">
            <label class="control-label">{{ form.date.label }} </label>
            <div class="controls" style="width:100%">{{ form.date }}
              {% if form.date.help_text %}
              <span class="help-inline"><small>{{ form.date.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.weight.label }} </label>
            <i id="weightTT" data-toggle="tooltip" title="" data-placement="right" class="far fa-question-circle"></i>
            <div class="controls">{{ form.weight }}
              {% if form.weight.help_text %}
              <span class="help-inline"><small>{{ form.weight.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.calories_in.label }} </label>
            <i id="calories_inTT" data-toggle="tooltip" title="" data-placement="right" class="far fa-question-circle"></i>
            <div class="controls"style="width:100%">{{ form.calories_in }}
              {% if form.calories_in.help_text %}
              <span class="help-inline"><small>{{ form.calories_in.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.calories_out.label }} </label>
            <i id="calories_outTT" data-toggle="tooltip" title="" data-placement="right" class="far fa-question-circle"></i>
            <div class="controls"style="width:100%">{{ form.calories_out }}
              {% if form.calories_out.help_text %}
              <span class="help-inline"><small>{{ form.calories_out.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.activity_lvl.label }} </label>
            <i id="activity_lvlTT" data-toggle="tooltip" title="" data-placement="right" class="far fa-question-circle"></i>
            <div class="controls"style="width:100%">{{ form.activity_lvl }}
              {% if form.activity_lvl.help_text %}
              <span class="help-inline"><small>{{ form.activity_lvl.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.front_progress_pic.label }} </label><br>
            {% if log.front_progress_pic.url %}
              <a class="img-fluid" data-target="#imageModal1" data-toggle="modal" href="{{ log.front_progress_pic.url }}">
                <img src="{{ log.front_progress_pic.url }}" class="mb-3" width="30%", height="30%">
              </a>
            {% endif %}
            <div class="controls"style="width:100%">{{ form.front_progress_pic }}
              {% if form.front_progress_pic.help_text %}
              <span class="help-inline"><small>{{ form.front_progress_pic.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.side_progress_pic.label }} </label><br>
            {% if log.side_progress_pic.url %}
              <a class="img-fluid" data-target="#imageModal2" data-toggle="modal" href="{{ log.side_progress_pic.url }}">
                <img src="{{ log.side_progress_pic.url }}" class="mb-3" width="30%", height="30%">
              </a>
            {% endif %}
            <div class="controls"style="width:100%">{{ form.side_progress_pic }}
              {% if form.side_progress_pic.help_text %}
              <span class="help-inline"><small>{{ form.side_progress_pic.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>
          <div class="control-group">
            <label class="control-label">{{ form.back_progress_pic.label }} </label><br>
            {% if log.back_progress_pic.url %}
              <a class="img-fluid" data-target="#imageModal3" data-toggle="modal" href="{{ log.back_progress_pic.url }}">
                <img src="{{ log.back_progress_pic.url }}" class="mb-3" width="30%", height="30%">
              </a>
            {% endif %}
            <div class="controls"style="width:100%">{{ form.back_progress_pic }}
              {% if form.back_progress_pic.help_text %}
              <span class="help-inline"><small>{{ form.back_progress_pic.help_text }}</small></span>
              {% endif %}
            </div>
            </p>
          </div>

        <div class="form-actions">
          <button form="updateForm" type="submit" class="btn btn-primary btn-icon-split btn-sm" name="submit" value="update">
            <span class="icon text-white-50">
              <i class="fas fa-check"></i>
                </span>
            <span class="text">Update Log</span>
          </button>

          <button form="updateForm" type="submit" class="btn btn-primary btn-icon-split btn-sm" name="submit" value="update_and_edit_another">
            <span class="icon text-white-50">
              <i class="fas fa-check"></i>
                </span>
            <span class="text">Update and Edit Another</span>
          </button>
        </div>
        <div class="mt-2"></div>
        <button type="button" href="#" data-toggle="modal" data-target="#logdeletemodal" class="btn btn-danger btn-icon-split btn-sm">
          <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
            </span>
          <span class="text">Delete Log</span>
        </button>
      </form>
    </div>
  </div>



  <!-- Progress Pic Modals-->
  <div class="modal fade" id="imageModal1" tabindex="-1" role="image" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
          <h5 class="modal-title modal-lg" id="imageModal"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body modal-lg">
          <a href="{{ log.front_progress_pic.url }}">
          <img src="{{ log.front_progress_pic.url }}" class="mb-3; img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="imageModal2" tabindex="-1" role="image" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
          <h5 class="modal-title modal-lg" id="imageModal"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body modal-lg">
          <a href="{{ log.side_progress_pic.url }}">
          <img src="{{ log.side_progress_pic.url }}" class="mb-3; img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="imageModal3" tabindex="-1" role="image" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
          <h5 class="modal-title modal-lg" id="imageModal"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body modal-lg">
          <a href="{{ log.back_progress_pic.url }}">
          <img src="{{ log.back_progress_pic.url }}" class="mb-3; img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Deletion Modal-->
  <div class="modal fade" id="logdeletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Log Deletion Confirmation</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete this log? This action is irreversible.</div>
        <div class="modal-footer">
          <form id="deleteForm" method="post" action="{% url "DeleteLogData" object.id%}">{% csrf_token %}
            <button form="deleteForm" type="submit" class="btn btn-danger btn-icon-split btn-sm" value="DELETE">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
                </span>
              <span class="text">Confirm</span>
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary btn-sm">
              <span class="text">Cancel</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% comment %} {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p> {{ error }} </p>
        {% endfor %}
    {% endif %} {% endcomment %}

</div>
<!-- /.container-fluid -->

<!-- Begin Page Content -->
<div class="container-fluid">



<!-- Page level custom scripts -->
<script>
document.getElementById("weightTT").title = "Try to weigh yourself at the same time every day to reduce day to day variation";
document.getElementById("calories_inTT").title = "Your caloric intake for the day in calories";
document.getElementById("calories_outTT").title = "Optional: Your total caloric expenditure, per your fitness tracker";
document.getElementById("activity_lvlTT").title = "Optional: An estimate of your relative activity level for the day";
document.getElementById("front_progress_pic").title = "Optional: A Front Facing Progress Picture Of You";
document.getElementById("side_progress_pic").title = "Optional: A Side Facing Progress Picture Of You";
document.getElementById("back_progress_pic").title = "Optional: A Back Facing Progress Picture Of You";

</script>
{% endblock %}
