{% load static %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop"
    class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  {% comment %}
  <!-- Topbar Search -->
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text"
        class="form-control bg-light border-0 small"
        placeholder="Search for..."
        aria-label="Search"
        aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <button class="btn btn-primary"
          type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  {% endcomment %}

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    {% comment %}
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle"
        href="#"
        id="searchDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      {% endcomment %}

      {% comment %}
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
        aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text"
              class="form-control bg-light border-0 small"
              placeholder="Search for..."
              aria-label="Search"
              aria-describedby="basic-addon2" />
            <div class="input-group-append">
              <button class="btn btn-primary"
                type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    {% endcomment %}

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle"
        href="#"
        id="alertsDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Notifications -->
        {% if notifications_count %}
        <span id="notifications_badge_counter" class="badge badge-danger badge-counter">{{notifications_count|default:"0" }}+</span>
        {% endif %}
      </a>
      <!-- Dropdown - Notifications -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown" id="notifications">
        <h6 class="dropdown-header">Notifications</h6>

        {% for notification in notifications %}

          <a class="dropdown-item d-flex align-items-center notification" id="notification{{ notification.id }}">
            <div class="mr-auto">
              <div class="btn btn-circle btn-success mr-3">
                <i class="far fa-bell text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500 notification-timestamp">{{ notification.timestamp }}</div>
              {{ notification.verb }}
              <br>

              <span class="small">{{ notification.description|default:"" }}</span>
            </div>
            <button onclick="clearNotification({{ notification.id }})" class="btn btn-danger btn-icon btn-circle btn-sm ml-auto" type="button" name="button">
              <span class="icon text-white-50">
                <i class="fas fa-trash "></i>
              </span>
            </button>

          </a>

        {% endfor %}

        <a onclick="clearAllNotifications()" class="dropdown-item text-center small text-gray-500"
        >Clear All Notifications
        </a>
      </div>
    </li>

     {% comment %}
    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle"
        href="#"
        id="messagesDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter">7</span>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">Messages</h6>
        <a class="dropdown-item d-flex align-items-center"
          href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle"
              src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
              alt="" />
            <div class="status-indicator bg-success"></div>
          </div>
          <div class="font-weight-bold">
            <div class="text-truncate">
              Hi there! I am wondering if you can help me with a problem I've
              been having.
            </div>
            <div class="small text-gray-500">Emily Fowler · 58m</div>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center"
          href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle"
              src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
              alt="" />
            <div class="status-indicator"></div>
          </div>
          <div>
            <div class="text-truncate">
              I have the photos that you ordered last month, how would you like
              them sent to you?
            </div>
            <div class="small text-gray-500">Jae Chun · 1d</div>
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500"
          href="#">Read More Messages</a>
      </div>
    </li>
    {% endcomment %}


    <!-- Nav Item - User Information -->

    {% if user.is_authenticated %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'pinax_messages:inbox' %}">
        <i class="fa fa-envelope"></i>
      </a>
    </li>

    <div class="topbar-divider"></div>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link:hover dropdown-toggle text-decoration-none"
        style="line-height: 75px"
        href="#"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <span class="text-gray-800 font-weight-bold">
          {{ user.username }} <i class="fas fa-angle-down"></i>
        </span>
      </a>

      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="userDropdown">
        <a class="dropdown-item"
          style="display: inline-block"
          href="{% url 'profile' %}">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
          style="display: inline-block"
          href="{% url 'settings' %}">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Settings
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
          style="display: inline-block"
          href="{% url 'change-password' %}">
          <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
          Change Password
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
          style="display: inline-block"
          href="{% url 'multifactor:home' %}">
          <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
          2FA
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
          style="display: inline-block"
          href="{% url 'feedback' %}">
          <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
          <span>Feedback</span></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
          style="display: inline-block"
          href="{% url 'referral-program' %}">
          <i class="fas fa-gift fa-sm fa-fw mr-2 text-gray-400"></i>
          <span>Referrals</span></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
          style="display: inline-block"
          href="#"
          data-toggle="modal"
          data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
    <div class="topbar-divider"></div>
    
    <li class="nav-item mx-2"
      data-toggle="tooltip"
      title="You currently have {{ user.wallet.coins|default:"0" }} coins"
      style="line-height: 75px">
      <button class="btn btn-circle btn-sm">
       <img src="{% static 'img/coin.svg' %} "
        alt="Gold Coin"
        height="140%"/> 
        <span class="mx-1 text-gray-800 font-weight-bold">
        {{ user.wallet.coins|default:"0" }}</span>
      </button>
      
    </li>
    <li class="nav-item mx-2"
      data-toggle="tooltip"
      title="Your current logging streak is {{ user.streak.input_streak|default:"0" }} days!"
      style="line-height: 75px">
      <button class="btn btn-circle btn-sm">
       <img src="{% static 'img/fire.svg' %} "
        alt="Gold Coin"
        height="140%"/> 
        <span class="mx-1 text-gray-800 font-weight-bold">
        {{ user.streak.input_streak|default:"0" }}</span>
      </button>
    </li>
    {% endif %}
  </ul>
</nav>
